<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
            <div class="row">
                <div class="column">
                 <img  src="./assets/pagebg/delivery.jpg" alt="Snow" style="width:100%;margin-top:40px;height:422px;margin-left: 160px;">
            </div>
            <div class="column">
           <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1>Login</h1>
                        <h6>Please enter details</h6>
                    </div>
                    <form>
                        <form>
                            <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Email address</label>
                              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                            </div>
                            <div class="mb-3">
                              <label for="exampleInputPassword1" class="form-label">Password</label>
                              <input type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                          </form>
                          <a style="color: #fff; margin-top: 10px; margin-bottom: 2px;" routerLink="/SignIn" >New user? Click to signup ! !</a>
                    </form>
                </div>
            </div>
       </div>
        </div>
    </div>
<footer class="page-footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
    <div class="col-md-6 mt-md-0 mt-3">
          <h5 style="color: aqua;" class="text-uppercase">Footer Content</h5>
          <p>Here you can order any type of drinks like softdrinks and harddrinks.authorized from 
            govt. of telangana and we also deliverd anytime 24/7 and ice creams also available.</p>
            <p>We are always for you dude.....trust me...</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
         <div class="col-md-3 mb-md-0 mb-3">
         <h5  style="color: aqua;" class="text-uppercase">Cities we Deliver to</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Hyderabad</a>
            </li>
            <li>
              <a href="#!">Secundrabad</a>
            </li>
            <li>
              <a href="#!">Rangareddy</a>
            </li>
            <li>
              <a href="#!">Shamshabad</a>
            </li>
          </ul>
  
        </div>
      <div class="col-md-3 mb-md-0 mb-3">
          <h5 style="color: aqua;" class="text-uppercase">For You</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#!">Terms</a>
            </li>
            <li>
              <a href="#!">Privacy</a>
            </li>
            <li>
              <a href="#!">Report</a>
            </li>
            <li>
              <a href="#!">Career</a>
            </li>
            <li>
              <a href="#!">Security</a>
            </li>
          </ul>
  
        </div>
       </div>
    </div>
      <div class="footer-copyright text-center py-3">© 2022 Copyright:
      <a href="#"> www.summercool.com</a>
    </div>
  </footer>
</body>
</html>