body
{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../../assets/pagebg/icefir.jpg);
}
.card
{
    color: aqua;
    border:none;
    width:500px;
    padding: 40px;
    position: absolute;
    margin-left: 150px;
    background: none;
    margin-top: 2px;
}
  
.row::after {
    clear: both;
    display: table;
    
  }
  .row {
    display: flex;
  }
  
  .column 
  {
    flex: 5%; 
  }
  footer
{
  margin-top: 140px;
  background-color: black;
}
 