<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<header>
  <div class="navbar navbar-dark shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      
    </div> 

    <button  routerLink="cart"class="btn btn-primary">
<i style="font-size: 30px;" class='bx bxs-cart-add'></i>
<div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
   </div>
</header>

<div class ="dashboard">
 <div class="card-top container-fluid">
   <div class="container d-flex">
     <div class="item">
       <a>
         <img src="./assets/pagebg/summer.jpg" alt="juice">
         <h6>All products</h6>
       </a>
     </div>
   </div>
  </div>
</div>

<div class="content">
  <div class="row">
      <div class="card col-md-3">
        <img src="./assets/pagebg/costly.jpg" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">RomaneeCountie</h5>
        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">made in japaan,3years old 15% alcohol tasty healthy</p>
        <p><strong>Price:</strong>$400</p>
        <button class="btn btn-primary">Add to cart</button>
      </div>

      <div class="card col-md-3" >
        <img src="./assets/pagebg/allfruits.jpg" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Mixed-Cut Fruits</h5>
        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">apple,grapes,banana,mango,painapple,srawberry</p>
        <p><strong>Price:</strong>$30/kg</p>
        <button class="btn btn-primary">Add to cart</button>
  </div>

  <div class="card col-md-3" >
    <img src="./assets/pagebg/allsnaks.jpg" alt="">
    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Snakiee</h5>
    <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Evening snacks manchurian bread pakoda kakad tasty healthy</p>
    <p><strong>Price:</strong>$9.00</p>
    <button class="btn btn-primary">Add to cart</button>
</div>

<div class="card col-md-3" >
<img src="./assets/pagebg/applejuice.jpg" alt="">
<h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Apple-Juice</h5>
<p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">A type of fruit juice that is made
   from the pulp of apples processed for their juice. It is a very clear liquid from which the pulp has been
    removed. This juice is often used to flavor meats, or as an ingredient in dressings and sauces, adding 
    a sweet apple flavor</p>
<p><strong>Price:</strong>$3.00</p>
<button class="btn btn-primary">Add to cart</button>
</div>

<div class="card col-md-3" >
<img src="./assets/pagebg/beers.jpg" alt="">
<h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Bucket-Beers</h5>
<p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">a carbonated, 
  fermented alcoholic beverage that is usually made from malted cereal grain (especially barley), 
  is flavored with hops, and typically contains less than a 5% alcohol content </p>
<p><strong>Price:</strong>$150</p>
<button class="btn btn-primary">Add to cart</button>
</div>
  

<div class="card col-md-3" >
  <img src="./assets/pagebg/bulky wine.jpg" alt="">
  <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Bulky-Wine</h5>
  <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">
    A round wine has a smooth, supple, or even creamy texture, and is easy to drink. You can 
    expect few tannins and no acidity on the palate. Côtes-du-Rhône-Villages are good examples of
     round wines. Smooth wines feel like velvet on the palate.</p>
  <p><strong>Price:</strong>$800</p>
  <button class="btn btn-primary">Add to cart</button>
  </div>

  <div class="card col-md-3" >
    <img src="./assets/pagebg/chips.jpg" alt="">
    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Kandy-Chips</h5>
    <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">a small usually
       thin and flat piece (as of wood or stone) cut, struck, or flaked off. b : a small piece of food: such as
       a small, thin, crisp, usually salty piece of food typically prepared by frying, baking, or drying banana 
       chips especially : potato chip — see also corn chip.</p>
    <p><strong>Price:</strong>$3.00</p>
    <button class="btn btn-primary">Add to cart</button>
    </div>

    <div class="card col-md-3" >
      <img src="./assets/pagebg/cubes.jpg" alt="">
      <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Ice-Cubes</h5>
      <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">An ice cube is
       a small piece of ice, which is typically rectangular as viewed from above and trapezoidal as viewed from 
       the side. Ice cubes are products of mechanical refrigeration and are usually produced to cool beverages</p>
      <p><strong>Price:</strong>$3.00</p>
      <button class="btn btn-primary">Add to cart</button>
      </div>


      <div class="card col-md-3" >
        <img src="./assets/pagebg/cut fish.jpg" alt="">
        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Margerita-Fish</h5>
        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">any fish or shellfish
         that has been prepared by frying. Often, the fish is covered in batter, egg and breadcrumbs, flour, or herbs 
         and spices before being fried and served, often with a slice of lemon.</p>
        <p><strong>Price:</strong>$30.0</p>
        <button class="btn btn-primary">Add to cart</button>
        </div>


        <div class="card col-md-3" >
          <img src="./assets/pagebg/masala fish.jpg" alt="">
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">SpicyThicyFish</h5>
          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">When choosing a fish 
            to fry, neutral flavored and lean fish is the best way to go. Additionally, many types of freshwater fish, 
            such as bass, trout, or catfish, are perfect for frying. Stay away from options like tuna, salmon, or sea
             bass when frying, though, as they are dense and oily, which isn't compatible with frying.</p>
          <p><strong>Price:</strong>$30.0</p>
          <button class="btn btn-primary">Add to cart</button>
          </div>


          <div class="card col-md-3" >
            <img src="./assets/pagebg/spyfish.jpg" alt="">
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">KenchieeFish</h5>
            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">When choosing a 
            fish to fry, neutral flavored and lean fish is the best way to go. Additionally, many types of freshwater fish, 
            such as bass, trout, or catfish, are perfect for frying. Stay away from options like tuna, salmon, or sea bass 
            when frying, though, as they are dense and oily, which isn't compatible with frying.</p>
            <p><strong>Price:</strong>$20.0</p>
            <button class="btn btn-primary">Add to cart</button>
            </div>


    <div class="card col-md-3" >
              <img src="./assets/pagebg/thumps up.jpg" alt="">
              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Thumps Up</h5>
              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">carbonated 
                water, sugar, acidity regulator (E338), caffeine, natural colour (150d) and added flavours 
                ("natural, nature identical and artificial flavouring substances").</p>
              <p><strong>Price:</strong>$3.00</p>
              <button class="btn btn-primary">Add to cart</button>
              </div>


              <div class="card col-md-3" >
                <img src="./assets/pagebg/mosambijuice.jpg" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Juice</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">0.2% sprey alcohol tasty healthy</p>
                <p><strong>Price:</strong>$5.00</p>
                <button class="btn btn-primary">Add to cart</button>
                </div>



                <div class="card col-md-3" >
                  <img src="./assets/pagebg/painapple.jpg" alt="">
                  <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Pineapple</h5>
                  <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">A pineapple
                     a sweet tropical fruit with a tough leathery skin and spiky leaves on top. Pineapple 
                    is excellent, whether eaten as a snack, in a sweet dessert, in savory dishes like fried rice, or even on pizza.</p>
                  <p><strong>Price:</strong>$8.00</p>
                  <button class="btn btn-primary">Add to cart</button>
                  </div>




                  <div class="card col-md-3" >
                    <img src="./assets/pagebg/brezers.jpg" alt="">
                    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Breezer</h5>
                    <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">2% alcohol tasty healthy</p>
                    <p><strong>Price:</strong>$100</p>
                    <button class="btn btn-primary">Add to cart</button>
                    </div>


                    <div class="card col-md-3" >
                      <img src="./assets/pagebg/fruitwine.jpg" alt="">
                      <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Wine</h5>
                      <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">8% alcohol tasty healthy</p>
                      <p><strong>Price:</strong>$400</p>
                      <button class="btn btn-primary">Add to cart</button>
                      </div>


                      <div class="card col-md-3" >
                        <img src="./assets/pagebg/grapwine.jpg" alt="">
                        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Grapes-Wine</h5>
                        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">8% alcohol tasty healthy</p>
                        <p><strong>Price:</strong>$500</p>
                        <button class="btn btn-primary">Add to cart</button>
                        </div>

                        <div class="card col-md-3" >
                          <img src="./assets/pagebg/mixed.jpg" alt="">
                          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Mixed-Fruit-Salad</h5>
                          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Fruit salad is a dish 
                            consisting of various kinds of fruit, sometimes served in a liquid, either their own juices or a syrup.
                             In different forms, fruit salad can be served as an appetizer, a side salad, or a dessert. 
                             When served as an appetizer or dessert</p>
                          <p><strong>Price:</strong>$20.0</p>
                          <button class="btn btn-primary">Add to cart</button>
                          </div>

                          <div class="card col-md-3" >
                            <img src="./assets/pagebg/mosambijuice.jpg" alt="">
                            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Mosambi-Juice</h5>
                            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">2% alcoholic mosambi juice tasty healthy</p>
                            <p><strong>Price:</strong>$8.00</p>
                            <button class="btn btn-primary">Add to cart</button>
                            </div>

                            <div class="card col-md-3" >
                              <img src="./assets/pagebg/guava jui.jpg" alt="">
                              <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Guava-Juice</h5>
                              <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">2%% alcoholic guava juice tasty healthy</p>
                              <p><strong>Price:</strong>$10.00</p>
                              <button class="btn btn-primary">Add to cart</button>
                              </div>

                              <div class="card col-md-3" >
                                <img src="./assets/pagebg/peanuts.jpg" alt="">
                                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Peanuts</h5>
                                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">tasty healthy</p>
                                <p><strong>Price:</strong>$5.00</p>
                                <button class="btn btn-primary">Add to cart</button>
                                </div>

                                <div class="card col-md-3" >
                                  <img src="./assets/pagebg/peanuts2.jpg" alt="">
                                  <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">PeanutsSpicy</h5>
                                  <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">sprey alcoholic tasty healthy</p>
                                  <p><strong>Price:</strong>$6.00</p>
                                  <button class="btn btn-primary">Add to cart</button>
                                  </div>

                                  <div class="card col-md-3" >
                                    <img src="./assets/pagebg/peanuts3.jpg" alt="">
                                    <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Kurrie Peanuts</h5>
                                    <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">tasty healthy</p>
                                    <p><strong>Price:</strong>$7.00</p>
                                    <button class="btn btn-primary">Add to cart</button>
                                    </div>

                                    <div class="card col-md-3" >
                                      <img src="./assets/pagebg/potato.jpg" alt="">
                                      <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Potato</h5>
                                      <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">tasty healthy</p>
                                      <p><strong>Price:</strong>$5.00</p>
                                      <button class="btn btn-primary">Add to cart</button>
                                      </div>

                                      <div class="card col-md-3" >
                                        <img src="./assets/pagebg/sapota.jpg" alt="">
                                        <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Sapota Juice</h5>
                                        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">0.5% alcohol tasty healthy</p>
                                        <p><strong>Price:</strong>$5.00</p>
                                        <button class="btn btn-primary">Add to cart</button>
          </div>
    </div>
  </div>

  
      
<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
  <div class="col-md-6 mt-md-0 mt-3">
        <h5 style="color: aqua;" class="text-uppercase">Footer Content</h5>
        <p>Here you can order any type of drinks like softdrinks and harddrinks.authorized from 
          govt. of telangana and we also deliverd anytime 24/7 and ice creams also available.</p>
          <p>We are always for you dude.....trust me...</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
       <div class="col-md-3 mb-md-0 mb-3">
       <h5  style="color: aqua;" class="text-uppercase">Cities we Deliver to</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Hyderabad</a>
          </li>
          <li>
            <a href="#!">Secundrabad</a>
          </li>
          <li>
            <a href="#!">Rangareddy</a>
          </li>
          <li>
            <a href="#!">Shamshabad</a>
          </li>
        </ul>

      </div>
    <div class="col-md-3 mb-md-0 mb-3">
        <h5 style="color: aqua;" class="text-uppercase">For You</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Terms</a>
          </li>
          <li>
            <a href="#!">Privacy</a>
          </li>
          <li>
            <a href="#!">Report</a>
          </li>
          <li>
            <a href="#!">Career</a>
          </li>
          <li>
            <a href="#!">Security</a>
          </li>
        </ul>

      </div>
     </div>
  </div>
    <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a href="#"> www.summercool.com</a>
  </div>
</footer>

</body>
</html>